.footer {
  background: white;
  color: #2c3e50;
  padding: 30px 0 30px;
  margin-top: 60px;
  border-radius: 15px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  
}

.footer-link {
  text-decoration: none;
  color: #2c3e50;  
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  font-weight: 300;
}

.footer-link:hover {
  color: #ff0000;
}

.footer-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer-link:active {
  color: #1c6ea4;
  transform: translateY(1px);
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  
  .footer-links {
    grid-template-columns: 1fr;
  }
}